body {
    color: #190701;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

}

.container {
    max-width: 1328px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.header {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px 0 56px;
    box-sizing: border-box;
}

.header__menu {
    display: flex;
    margin-bottom: 5px;
}

.menu__dash {
    height: 2px;
    width: 24px;
    background-color: #190701;
}

.header__text {
    color: #190701;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px; /* 100% */
    align-items: center;
    display: flex;
    margin-right: 7px;
}

.menu__item {
    height: 8px;
    width: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header__button {
    width: 40px;
    height: 40px;
    border-color: transparent;
    background-color: transparent;
    flex-direction: column;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0;
    padding-block: 0;
}

.title {
    color: #190701;
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 140% */
    padding-left: 145px;
}

.sub-title {
    color: #190701;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.top-title {
    color: #190701;
    font-family: Gilroy;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 114.286% */
    margin-bottom: 126px;
}

.top-caption {
    margin-bottom: 8px;
    font-weight: 500;
}

.top__wrp {
    padding: 75PX 145px 0;
}


.top-img {
    width: 100%;
    height: 640px;
}

@media (max-width: 1439px) {
    .header {
        padding: 0 32px 0 40px;
    }

    .top__wrp {
        padding: 78px 101px 0 40px;
    }

    .top-caption {
        margin-bottom: 10px;

    }
    .top-title {
        color: #190701;
        font-family: Gilroy;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px; /* 133.333% */
    }

    .top-img {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .header {
        padding: 0 24px 0 32px;
    }

    .top__wrp {
        padding: 75px 32px 0 32px;
    }

    .top-caption {
        margin-bottom: 11px;
    }

    .top-title {
        font-size: 32px;
        line-height: 40px; /* 125% */
        margin-bottom: 123px;
    }

    .top-img {
        width: 100%;
        height: 375px;
    }
}

.second-section-text-up {
    display: flex;
}

.second-section-title {
    color: #190701;
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 140% */
    padding: 120px 0 0 145px;
    margin: 0 284px 0 0;
}

.second-section-subtitle-up {
    color: #190701;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 629px;
    padding: 136px 152px 0 0;
}

.second-section-item {
    display: flex;
    justify-content: center;
}

.second-section-line {
    width: 1038px;
    height: 1px;
    background-color: #DEDEDF;
    margin: 72px 0 0 0 ;
}

.second-section-text-down {
    display: flex;
}

.second-section-title-down {
    color: #190701;
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 140% */
    margin: 80px 243px 0 0;
    padding: 0 0 0 145px;
}

.second-section-subtitle-down {
    color: #190701;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 676px;
    height: 48px;
    margin: 84px 0 0;
}

.mobolephones {
    padding: 108px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.second-section-switch {
    display: none;
}


@media (max-width: 1439px) {
.second-section-title {
    padding: 120px 0 0 40px;
    margin: 0 274px 0 0;
}
.second-section-subtitle-up {
    width: 336px;
    padding: 120px 40px 0 0;
}
.second-section-line {
    width: 688px;
    margin: 80px 0 0;
}
.second-section-title-down {
    margin: 80px 233px 0 0;
    padding: 0 0 0 40px;
}
.second-section-subtitle-down {
    margin: 80px 0 0 0;
    width: 336px;
    height: 96px;
}
.mobolephones {
    padding: 120px 40px 0;
}
.img-first-phone {
    width: 336px;
    height: 374px;
}
.img-second-phone {
    width: 336px;
    height: 374px;
}
}

@media (max-width: 767px) {
    .second-section-text-up{
        display: block;
    }

    .second-section-title {
        padding: 120px 0 0 32px;
        margin: 0;
        color: #190701;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 125% */
    }

    .second-section-subtitle-up {
        color: #190701;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; /* 150% */
        width: 311px;
        padding: 0 0 0 32px;
    }

    .second-section-text-down {
        display: block;
    }

    .second-section-title-down {
        color: #190701;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 125% */
        margin: 80px 0 0;
        padding: 0 0 0 32px;
    }

    .second-section-subtitle-down {
        margin: 16px 0 0 0;
        width: 294px;
        padding: 0 0 0 32px;
    }

    .img-second-phone {
        display: none;
    }

    .img-first-phone {
        width: 311px;
        height: 460px;
    }

    .mobolephones {
        padding: 120px 0 0 0;
        justify-content: center;
    }

    .second-section-switch {
        display: flex;
        padding: 40px 0 0 161px;
    }

    .img-wight-dash {
        margin-right: 8px;
    }
}

.third-section-text {
    display: flex;
}

.third-section-title {
    color: #190701;
    font-size: 40px;
    font-weight: 400;
    line-height: 56px; /* 140% */
    width: 299px;
    padding: 110px 0 0 145px;
    margin:  0 63px 0 0;
}
.third-section-sub-title {
    width: 563px;
    height: 48px;
    padding-top: 124px;
}

.third-section-picture {
    width: 1328px;
    height: 640px;
    margin-top: 112px;
}

@media (max-width: 1439px) {
    .third-section-title {
        width: 176px;
        padding: 120px 0 0 40px;
        margin: 0 176px 0 0;
    }

    .third-section-sub-title {
        width: 253px;
        height: 96px;
        padding-top: 120px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }

    .third-section-picture {
        width: 100%;
        height: 640px;
        margin-top: 120px;
    }
}

@media (max-width: 767px) {
    .third-section-text {
        display: block;
    }

    .third-section-title {
        width: 235px;
        color: #190701;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 125% */
        padding: 120px 0 0 32px ;
    }

    .third-section-sub-title {
        width: 249px;
        padding-top: 120px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
        margin-top: 16px;
        padding: 0 0 0 32px;
    }

    .third-section-picture {
        width: 100%;
        height: 375px;
    }
}

.fourth-section-text {
    display: flex;
}

.fourth-section-title {
    color: #190701;
    font-size: 40px;
    font-weight: 500;
    line-height: 56px; /* 140% */
    width: 268px;
    padding: 120px 0 0 145px;
    margin-right: 94px;
}

.fourth-section-sub-title {
    width: 676px;
    height: 48px;
    color: #190701;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    padding-top: 152px;
}

.fourth-section-picturs {
    display: flex;
    padding: 0 145px;
}

.fourth-sec-pic1 {
    margin-top: 120px;
    width: 503px;
    height: 424px;
}

.fourth-sec-pic2 {
    margin-top: 192px;
    width: 503px;
    height: 503px;
    margin-left: 32px;
}

.fourth-sec-pic3 {
    width: 503px;
    height: 736px;
    padding-top: 32px;
}

.fourth-sec-pic4 {
    width: 503px;
    height: 503px;
    padding-left: 32px;
    margin-top: 32px;
}


.half-width {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1439px) {
    .fourth-section-title {
        font-size: 40px;
        font-weight: 400;
        line-height: 56px; /* 140% */
        width: 248px;
        padding-left: 40px;
        margin-right: 104px;
    }

    .fourth-section-sub-title {
        color: #190701;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
        width: 336px;
        height: 120px;
        padding-top: 120px;
    }

    .fourth-section-picturs {
        padding: 0 40px;
    }

    .fourth-sec-pic1 {
        width: 336px;
        height: 284px;
        margin: 128px 16px 16px 0;
        padding: 0;
    }

    .fourth-sec-pic2 {
        width: 336px;
        height: 336px;
        margin: 147px 0 16px;
        padding: 0;
    }

    .fourth-sec-pic3 {
        width: 336px;
        height: 492px;
        margin: 0 16px 0 0;
        padding: 0;
    }

    .fourth-sec-pic4 {
        width: 336px;
        height: 337.009px;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 767px){
    .fourth-section-text {
        display: flex;
        flex-wrap: wrap;
    }

    .fourth-section-title {
        color: #190701;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px; /* 125% */
    width: 199px;
    padding-left: 32px;
    }

    .fourth-section-sub-title {
        color: #190701;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        width: 294px;
        padding: 0 0 0 32px;
        margin-top: 15px;
    }

    .fourth-section-picturs {
        display: contents;
    }

    .fourth-sec-pic1 {
        width: 311px;
        height: 261px;
        padding: 0 0 0 32px;
        margin: 120px 0 0 0;
    }

    .fourth-sec-pic2 {
        width: 311px;
        height: 311px;
        padding: 0 0 0 32px;
        margin: 16px 0 0 0;
    }

    .fourth-sec-pic3 {
        width: 311px;
        height: 455px;
        flex-shrink: 0;
        padding: 0 0 0 32px;
        margin: 16px 0 0;
    }

    .fourth-sec-pic4 {
        width: 311px;
        height: 309px;
        padding: 0 0 0 32px;
        margin: 16px 0 0;
    }
}

.fifth-section__text {
    display: flex;
}

.fifth-section__title {
    padding-top: 218px;
    margin-right: 190px;
    width: 172px;
}

.fifth-section__sub-title {
    padding-top: 250px;
    width: 676px;
    height: 48px;
}

.half-width {
    align-items: flex-start;
    flex-direction: column;
}

.fifth-section__pictures {
    display: flex;
    padding: 0 145px;
}

.fifth-section__pic1{
    margin: 240px 0 0 0;
    width: 503px;
    height: 503px;
}

.fifth-section__pic2{
    margin: 120px 0 0 32px;
    width: 505px;
    height: 900px;
}
.fifth-section__pic3 {
    margin-top: 32px;
    width: 503px;
    height: 503px;
}
.fifth-section__pic4 {
    padding-left: 32px;
    margin-top: 32px;
    width: 503px;
    height: 503px;
}

@media (max-width: 1439px) {
    .fifth-section__pictures {
        display: flex;
        padding: 0 40px
    }

    .fifth-section__title {
        width: 193px;
        padding: 120px 0 0 40px;
        margin-right: 159px;
    }

    .fifth-section__sub-title {
        width: 336px;
        height: 120px;
        padding-top: 120px;
    }

    .fifth-section__pic1 {
    width: 336px;
    height: 336px;
    margin-top: 248px;
    }

    .fifth-section__pic2 {
        width: 336px;
        height: 599px;
        margin: 120px 0 0 16px;
    }

    .fifth-section__pic3 {
        width: 336px;
        height: 336px;
        margin-top: 16px;
    }

    .fifth-section__pic4 {
        width: 336px;
        height: 336px;
        padding-left: 16px;
        margin-top: 16px;
    }
}

.fourth-section-picturs_375 {
    padding-left: 32px;
    display: none;
}

.fifth-section__pic1_375 {
    width: 311px;
    height: 311px;
    margin-top: 120px;
}
.fifth-section__pic2_375 {
    width: 311px;
    height: 554px;
    margin-top: 16px;
}
.fifth-section__pic3_375 {
    width: 311px;
    height: 311px;
    margin-top: 16px;
}
.fifth-section__pic4_375 {
    width: 311px;
    height: 311px;
    margin-top: 16px;
}

@media (max-width: 767px) {
    .fourth-section-picturs_375 {
        display: block;
    }

    .fifth-section__pictures{
        display: none;
    }

    .fifth-section__text {
        display: block;
    }

    .fifth-section__title {
        color: #190701;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 125% */
        width: 153px;
        padding: 120px 0 0 32px;
    }

    .fifth-section__sub-title {
        padding: 0 0 0 32px;
        margin-top: 15px;
        color: #190701;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
        width: 294px;
    }
}

.sixth-section__text {
    display: flex;
}

.sixth-section__title {
    padding-top: 120px;
    margin-right: 122px;
    width: 240px;
}

.sixth-section_sub-title {
    padding-top: 152px;
    width: 659px;
    height: 48px;
}

.sixth-section__reveiw {
    display: flex;
}

.sixth-section__pic1 {
    padding-left: 113px;
    margin-top: 153px;
    width: 503px;
    height: 320px;
}

.sixth-section__pic2 {
    padding: 120px 0 0 66px;
}

.sixth-section__pic3 {
    padding-left: 66px;
    margin-top: 120px;
}

@media (max-width: 1439px) {
    .sixth-section__title {
        width: 232px;
        padding: 120px 0 0 40px;
        margin-right: 120px;
    }

    .sixth-section_sub-title {
        padding-top: 120px;
        width: 336px;
        height: 120px;
    }

    .sixth-section__pic1 {
        width: 336px;
        height: 214px;
        flex-shrink: 0;
        padding-left: 40px;
        margin-top: 144px;
    }

    .sixth-section__pic2 {
        width: 336px;
        height: 122px;
        padding: 120px 0 0 16px;
    }

    .sixth-section__pic3 {
        width: 336px;
        height: 122px;
        padding-left: 16px;
        margin-top: 56px;
    }
}

@media (max-width: 767px) {
    .sixth-section__text {
        display: block;
    }

    .fourth-section-title {
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 125% */
        width: 199px;
        padding: 120px 0 0 32px;
    }

    .sixth-section_sub-title {
        padding: 0 0 0 32px;
        margin-top: 15px;
    }

    .sixth-section__reveiw {
        display: block;
    }

    .sixth-section__pic1{
        width: 311px;
        height: 199px;
        padding: 0 0 0 32px;
        margin-top: 120px;
    }

    .sixth-section__pic2 {
        width: 311px;
        height: 114px;
        padding: 0 0 0 32px;
        margin-top: 56px;
    }

    .sixth-section__pic3 {
        width: 311px;
        height: 114px;
        padding: 0 0 0 32px;
        margin-top: 56px;
    }
}

.seventh-section__tittle {
    padding-top: 120px;
}

.seventh-section__quote {
    padding-left: 145px;
    color: #190701;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: 56px; /* 100% */;
    margin-top: 40px;
}

.seventh-section__subtitle {
    padding-left: 145px;
    width: 423px;
}

.seventh-section__subtitle2 {
    padding-left: 145px;
    margin-top: 24px;
}

.seventh-section__wrp {
    display: flex;
}


.seventh-section__indicator {
    display: flex;
    flex-wrap: wrap;
    padding: 272px 0 0 108px
}

.indicator1 {
    margin: 0 70px 40px 0;
}

.indicator2 {
    margin-bottom: 40px;
}

.indicator3 {
    margin-right: 44px;
}

.indicator__title {
    color: #4BABF5;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 56px; /* 116.667% */
}

.indicator_sub-title {
    color: #190701;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.indicator-text {
    color: #B0B0B0;
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
}

.seventh-section__order {
    background-image: url(../img/order.png);
    width: 1328px;
    height: 472px;
    margin-top: 120px;
}

.order__title {
    color: #FFF;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 900;
    line-height: 64px; /* 133.333% */
    padding: 80px 0 0 145px;
    width: 612px;
}

.order__sub-title {
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding-left: 145px;
    margin-top: 24px;
    width: 486px;
}

.order__button {
    width: 167px;
    height: 48px;
    margin: 64px 0 0 148px;
    border-radius: 60px;
    background-color: transparent;
    border-color: transparent;
}
.order__button:hover {
    cursor: pointer;
}

@media (max-width: 1439px) {
    .seventh-section__wrp {
        flex-wrap: wrap;
    }

    .seventh-section__tittle {
        padding-left: 40px;
        width: 272px;
    }

    .seventh-section__quote {
        padding-left: 40px;
    }

    .seventh-section__subtitle {
        padding-left: 40px;
        width: 688px;
    }

    .seventh-section__subtitle2 {
        padding-left: 40px;
    }

    .seventh-section__indicator {
        padding: 80px 0 0 40px;
    }
    .indicator1 {
        margin: 0 153px 40px 0;
    }

    .indicator3 {
        margin-right: 127px;
    }

    .seventh-section__order {
        background-image: url(../img/order768.png);
        width: 768px;
        height: 536px;
    }

    .order__title {
        padding: 80px 0 0 40px;
        width: 440px;
        font-size: 40px;
        font-weight: 900;
        line-height: 56px; /* 140% */
    }

    .order__sub-title {
        padding-left: 40px;
        margin-top: 24px;
        width: 336px;
    }

    .order__button {
        margin: 64px 0 0 43px;
        border-radius: 60px;
    }
}

@media (max-width: 767px) {
    .seventh-section__tittle {
        padding-left: 32px;
        width: 272px;
        color: #190701;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 125% */
        width: 211px;
    }

    .seventh-section__quote {
        padding-left: 32px;
    }

    .seventh-section__subtitle {
        padding-left: 32px;
        width: 688px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
        width: 304px;
    }

    .seventh-section__subtitle2 {
        padding-left: 32px;
        width: 191px;
    }

    .seventh-section__indicator {
        padding-left: 32px;
    }

    .seventh-section__order {
        background-image: url(../img/order375.png);
        width: 375px;
        height: 552px;
    }

    .order__title, .order__sub-title {
        display: none;
    }

    .order__button {
        margin: 424px 0 0 36px;
        border-radius: 60px;
    }
}

.eighth-section__title {
    padding: 120px 0 0 145px;
}

.eighth-section__pictures {
    display: flex;
    justify-content: space-between;
    padding: 0 0 120px 0;
    margin-top: 48px;
}

.eighth-section__pic2, .eighth-section__pic4 {
    padding-top: 40px;
}
.eighth-section__pic1, .eighth-section__pic3 {
    padding-bottom: 40px;
}

.eight-section-switch{
    display: flex;
    justify-content: center;
    display: none;
}

@media (max-width: 1439px) {
    .eighth-section__title {
        padding: 120px 0 0 40px;
    }

    .eighth-section__pic3, .eighth-section__pic4 {
        display: none;
    }

    .eighth-section__pic1 {
        width: 336px;
        height: 421px;
        padding-left: 40px;
    }

    .eighth-section__pic2 {
        width: 336px;
        height: 420px;
        padding-right: 40px;
    }

    .eight-section-switch {
        display: flex;
        padding-bottom: 120px;
    }

    .img-wight-dash {
        margin-right: 8px;
    }

    .eighth-section__pictures {
        padding: 0;
        margin: 0 0 40px 0;
    }
}

@media (max-width: 767px) {
    .eighth-section__title {
        padding: 120px 0 0 33px;
        color: #190701;
        font-family: Gilroy;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 125% */
        width: 211px;
    }

    .eighth-section__pic1, .eighth-section__pic2 ,.eighth-section__pic4 {
        display: none;
    }

    .eighth-section__pic3 {
        display: flex;
        padding-left: 32px;
        margin: 48px 0 79px;
    }
}

.footer {
    padding: 0 0 15px;
}

.footer-item {
    display: flex;
    justify-content: center;
}

.footer-item_line {
    width: 1038px;
    height: 1px;
    background: #DEDEDF;
    margin-bottom: 16px;
}

.footer-inner {
    padding: 0 145px;
    display: flex;
    justify-content: space-between;
}

.instagram__img {
    margin-right: 24px;
}

.footer-inner__link {
    text-decoration: none;
    color: #190701;
}

@media (max-width: 1439px) {
    .footer-item_line {
        width: 688px;
    }
    .footer-inner {
        padding: 0 40px;
    }
}

@media (max-width: 367px) {
    .footer-item_line {
        width: 311px;
    }
    .footer-inner {
        padding: 0 32px;
    }
}