body {
    color: #190701;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

}

.container {
    max-width: 1328px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.header {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px 0 56px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #FFF;
}

.header__menu {
    display: flex;
    margin-bottom: 5px;
}

.menu__dash {
    height: 2px;
    width: 24px;
    background-color: #190701;
}

.header__text {
    color: #190701;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px; /* 100% */
    align-items: center;
    display: flex;
    margin-right: 7px;
}

.menu__item {
    height: 8px;
    width: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header__button {
    width: 40px;
    height: 40px;
    border-color: transparent;
    background-color: transparent;
    flex-direction: column;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0;
    padding-block: 0;
}

.title {
    color: #190701;
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px; /* 140% */
}

.sub-title {
    color: #190701;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.top-title {
    color: #190701;
    font-family: Gilroy;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 114.286% */
    margin-bottom: 126px;
}

.top-caption {
    margin-bottom: 8px;
    font-weight: 500;
}

.top__wrp {
    padding: 175PX 145px 0;
}

.picture__wrp{
    width: 100%;
    height: 640px;
}

.top-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1439px) {
    .header {
        padding: 0 32px 0 40px;
    }

    .top__wrp {
        padding: 78px 101px 0 40px;
    }

    .top-caption {
        margin-bottom: 10px;

    }
    .top-title {
        color: #190701;
        font-family: Gilroy;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px; /* 133.333% */
    }

    .top-img {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .header {
        padding: 0 24px 0 32px;
    }

    .top__wrp {
        padding: 75px 32px 0 32px;
    }

    .top-caption {
        margin-bottom: 11px;
    }

    .top-title {
        font-size: 32px;
        line-height: 40px; /* 125% */
        margin-bottom: 123px;
    }

    .top-img {
        width: 100%;
        height: 100%;
        object-position: top;
    }

    .picture__wrp {
        height: 375px;
        width: 100%;
        overflow: hidden;
    }
}

.second-section__wrp {
    padding: 116px 145px 109px;
    display: block;
}

.second-section-text-up {
    display: flex;
    margin-bottom: 72px;
}

.second-section-title {
    color: #190701;
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 140% */
    margin-right: 284px;
}

.second-section-subtitle-up__large {
    color: #190701;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    padding: 18px 48px 0 0;
}

.second-section-subtitle-up__small{
    color: #190701;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    padding: 18px 48px 0 0;
    display: none;
}

.second-section-item {
    display: flex;
    justify-content: center;
    margin-bottom: 76px;
}

.second-section-line {
    width: 100%;
    height: 1px;
    background-color: #DEDEDF;

}

.second-section-text-down {
    display: flex;
}

.second-section-title-down {
    color: #190701;
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 140% */
    margin-right: 243px;
}

.second-section-subtitle-down {
    color: #190701;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    padding-top: 7px;
}

.mobolephones {
    display: flex;
    justify-content: space-between;
}

.second-section-switch {
    display: none;
}


@media (max-width: 1439px) {
    .second-section__wrp {
        padding: 118px 40px 122px;
    }

    .second-section-subtitle-up__large {
        display: none;
    }

    .second-section-subtitle-up__small {
        display: block;
        font-weight: 400;
        padding: 1px 0 0 0;
    }

    .second-section-text-up {
        margin-bottom: 80px;
    }

    .second-section-title {
        margin: 0 276px 0 0;
    }

    .second-section-item {
        margin-bottom: 79px;
    }

    .second-section-line {
        width: 100%;
    }

    .second-section-title-down {
        margin: 0 233px 0 0;
    }

    .second-section-subtitle-down{
        padding-top: 1px;
    }


    .mobolephones {
        padding: 0 24px 0;
    }

    .img-first-phone {
        /* height: 374px; */
        width: 50%;
        margin: 0 8px;
    }

    .img-second-phone {
        /* height: 374px; */
        width: 50%;
        margin: 0 8px;
    }
}

@media (max-width: 767px) {
    .second-section__wrp{
        padding: 120px 32px 124px;
    }

    .second-section-text-up{
        display: block;
    }

    .second-section-subtitle-up__small {
        display: block;
        font-weight: 500;
    }

    .second-section-title {
        margin: 0;
        color: #190701;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 125% */
        margin-bottom: 16px;
    }

    .second-section-item {
        margin-bottom: 76px;
    }

    .second-section-subtitle-up {
        color: #190701;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; /* 150% */
    }

    .second-section-text-down {
        display: block;
    }

    .second-section-title-down {
        color: #190701;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 125% */
        margin-bottom: 16px;
    }

    .second-section-subtitle-down {
        padding-right: 10px;
    }

    .img-second-phone {
        display: none;
    }

    .img-first-phone {
        width: 100%
    }

    .mobolephones {
        justify-content: center;
        margin-bottom: 40px;
    }

    .second-section-switch {
        display: flex;
        justify-content: center;
    }

    .img-wight-dash {
        margin-right: 8px;
    }
}

.third-section-wrp {
    padding: 114px 145px 114px 145px
}

.third-section-text {
    display: flex;
}

.third-section-title {
    margin-right: 69px;
}

.third-section-sub-title {
    font-weight: 500;
    padding: 5px 0px 0 0;
    width: 563px;
}

.third-section-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1439px) {
    .third-section-wrp {
        padding: 117px 143px 120px 40px;
    }

    .third-section-title {
        margin-right: 207px;
    }

    .third-section-sub-title {
        padding: 0;
        
    }

    .third-section-picture {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .third-section-wrp {
        padding: 120px 32px;
    }

    .third-section-text {
        display: block;
    }

    .third-section-title {
        margin: 0 0 16px;
        font-family: Gilroy;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 125% */
        }

    .third-section-sub-title {
        margin: 0;
        width: auto;
    }

    .third-section-title {
        font-weight: 400;
    }

    .third-section-picture {
        width: 100%;
        height: 375px;
    }
}

.fourth-section-text {
    display: flex;
    padding: 114px 145px 124px;
}

.fourth-section-title {
    margin-right: 120px;
}

.fourth-section-title__768 {
    display: none;
}

.fourth-section-sub-title {
    font-weight: 500;
    padding-top: 34px;
}

.fourth-section-picturs {
    display: flex;
    padding: 0 129px;
}

.fourth-sec-pic1 {
    width: 100%;
    margin-bottom: 32px;
}

.fourth-sec-pic2 {
        width: 100%;
        margin-bottom: 32px;
}

.fourth-sec-pic3 {
        width: 100%;
}

.fourth-sec-pic3__375 {
    display: none;
}

.fourth-sec-pic4 {
        width: 100%;
}


.half-width {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 16px;
}

.half-width__forth-sec {
    padding-top: 40px;
}

@media (max-width: 1439px) {
    .fourth-section-text {
        padding: 115px 40px 120px 40px;
    }

    .fourth-section-title {
        margin-right: 0px;
        display: block;
        display: none;
    }

    .fourth-section-title__768 {
        margin-right: 0px;
        display: block;
        width: 50%;
        margin-right: 10px;
    }


    .fourth-section-sub-title {
        font-weight: 400;
        width: 50%;
        padding: 0;
    }

    .fourth-section-picturs {
        padding: 0 32px;
    }

    .fourth-sec-pic1 {
        width: 100%;
        margin-bottom: 16px;
    }

    .fourth-sec-pic2 {       
        width: 100%;
        margin-bottom: 16px;
    }

    .fourth-sec-pic3 {
        width: 100%;
    }

    .fourth-sec-pic4 {
        width: 100%;
    }

    .half-width{
        margin: 0 8px;
    }

    .half-width__forth-sec {
        padding-top: 27px;
    }
}

@media (max-width: 767px){
    .fourth-section-text {
        display: block;
        flex-wrap: wrap;
        padding: 117px 50px 117px 32px;
    }

    .fourth-section-title__768 {
        display: none;
    }

    .fourth-section-title {
        display: block;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 125% */
        margin: 0 0 15px 0;
        padding-right: 50px;
    }

    .fourth-section-sub-title {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }

    .fourth-section-picturs {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;
    }

    .half-width {
        display: flex;
        margin: 0;
        width: 100%;
    }

    .fourth-sec-pic1 {
        width: 100%;
        margin-bottom: 16px;
    }

    .fourth-sec-pic2 {
        width: 100%;
        margin-bottom: 16px;
    }

    .fourth-sec-pic3__375 {
        display: block;
        width: 100%;
        margin-bottom: 16px;
    }

    .fourth-sec-pic3 {
    display: none;
    }

    .fourth-sec-pic4 {
        width: 100%
    }

    .half-width__forth-sec {
        padding: 0;
    }
}

.fifth-section__text {
    display: flex;
}

.fifth-section___wrp {
    padding: 218px 145px 120px 145px;
}

.fifth-section__title {
    margin-right: 200px;
    font-weight: 500;
}

.fifth-section__title__678 {
    display: none;
}

.fifth-section__sub-title{
    padding-top: 32px;
}

.half-width {
    align-items: flex-start;
    flex-direction: column;
}

.half-width__six-sec {
    padding-top: 120px;
}

.fifth-section__pictures {
    display: flex;
    padding: 0 129px;
}

.fifth-section__pic1{
    width: 100%;
    margin-bottom: 32px;
}

.fifth-section__pic2{
    width: 100%;
    margin-bottom: 32px;
}

.fifth-section__pic3 {
    width: 100%;
}
.fifth-section__pic4 {
    width: 100%;
}

@media (max-width: 1439px) {
    .fifth-section___wrp {
        padding: 117px 40px 122px 40px;
    }

    .fifth-section__title {
        margin: 0;
        flex: 1;
        margin-right: 185px;
        font-weight: 400px;
    }

    .fifth-section__sub-title {
        flex: 2;
        padding: 0;
    }

    /* .fifth-section__sub-title {
        width: 50%;
        padding: 0;
    } */

    .fifth-section__pictures {
        display: flex;
        padding: 0 32px;
    }

    .fifth-section__pic1 {
        width: 100%;
        margin-bottom: 16px;
    }

    .fifth-section__pic2 {
        width: 100%;
        margin-bottom: 16px;
    }

    .fifth-section__pic3 {
        width: 100%;
    }

    .fifth-section__pic4 {
        width: 100%;
    }
}

.fifth-section-picturs_375 {
    padding-left: 32px;
    display: none;
}

.fifth-section__pic1_375 {
    width: 100%;
    margin-bottom: 16px;
}
.fifth-section__pic2_375 {
    width: 100%;
    margin-bottom: 16px;
}
.fifth-section__pic3_375 {
    width: 100%;
    margin-bottom: 16px;
}
.fifth-section__pic4_375 {
    width: 100%;
}

@media (max-width: 767px) {
    .fifth-section___wrp {
        padding: 117px 51px 120px 32px;
    }

    .fifth-section-picturs_375 {
        display: block;
        padding: 0 32px;
    }


    .fifth-section__pictures{
        display: none;
    }

    .fifth-section__text {
        display: block;
    }

    .fifth-section__title {
        color: #190701;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 125% */
        margin: 0 0 16px 0;
        display: none;
    }

    .fifth-section__sub-title {
        color: #190701;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }

    .fifth-section__title__678 {
        display: block;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 125% */
        margin: 0 0 15px 0;
    }
}

.sixth-section__wrp {
    padding: 120px 170px 120px 145px;
}

.sixth-section__text {
    display: flex;
}

.sixth-section__title {
    margin-right: 140px;
}

.sixth-section_sub-title {
    padding-top: 31px;
}

.sixth-section__reveiw {
    display: flex;
    padding: 0 116px 0 80px;
}

.sixth-section__item__left {
    width: 50%;
    margin: 0 33px;
}

.sixth-section__item__right {
    width: 50%;
    margin: 0 33px;
}

.sixth-section__pic1 {
    padding-top: 33px;
    width: 100%;
}

.sixth-section__pic2 {
    width: 100%;
    margin-bottom: 120px;
}

.sixth-section__pic3 {
    width: 100%;
}

@media (max-width: 1439px) {
    .sixth-section__wrp {
        padding: 117px 40px 123px 41px;
    }

    .sixth-section__title {
        margin-right: 129px;
    }

    .sixth-section_sub-title {
        padding-top: 0px;
    }

    .sixth-section__reveiw {
        display: flex;
        padding: 0 32px;
    }

    .sixth-section__item__left {
        width: 50%;
        margin: 0 8px;
    }

.sixth-section__item__right {
    width: 50%;
    margin: 0 8px;
}

.sixth-section__pic1 {
    padding-top: 33px;
    width: 100%;
}

    .sixth-section__pic1 {
        padding-top: 24px;
    }

    .sixth-section__pic2 {
        margin-bottom: 54px;
    }
}

@media (max-width: 767px) {
    .sixth-section__wrp {
        padding: 115px 49px 123px 32px;
    }

    .sixth-section__text {
        display: block;
    }

    .sixth-section__reveiw {
        padding: 0 32px;
    }

    .sixth-section__title {
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 125% */
        margin: 0 0 15px 0;
        padding-right: 95px;
    }

    .sixth-section__reveiw {
        display: block;
    }

    .sixth-section__item__left {
        width: 100%;
        margin: 0;
    }

    .sixth-section__item__right {
        width: 100%;
        margin: 0;
    }

    .sixth-section__pic1{
    padding: 0;
    margin-bottom: 56px;
    width: 100%;
    }

    .sixth-section__pic2 {
        margin-bottom: 52px;
    }
}

.seventh-section__text{
    width: 50%;
    margin-right: 46px;
}

.seventh-section__quote {
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: 56px; /* 100% */;
}

.seventh-section__subtitle {
    margin-bottom: 24px;
    padding-right: 64px;
}

.seventh-section {
    padding: 114px 171px 144px 143px;
    max-width: 1328px;
    margin: 0 auto;
    box-sizing: border-box;
}

.seventh-section__wrp {
    display: flex;
}

.seventh-section__tittle {
    margin-bottom: 42px;
}

.seventh-section__indicator {
    display: flex;
    width: 50%;
}

.indicator1 {
    margin-bottom: 39px;
}

.indicator1__375 {
    display: none;
}

.indicator2 {
    margin-bottom: 39px;
}

.column__marg {
    margin-right: 47px
}

.indicator__title {
    color: #4BABF5;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 56px; /* 116.667% */
}

.indicator3__375 {
    display: none;
}

.indicator_sub-title {
    color: #190701;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-bottom: 8px;
}

.indicator-text {
    color: #B0B0B0;
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
}

@media (max-width: 1439px) {
    .seventh-section__wrp {
        flex-wrap: wrap;
    }

    .seventh-section {
        padding: 116px 40px 120px 40px;
    }

    .seventh-section__text {
        width: 100%;
        margin: 0 0 80px 0;
    }

    .seventh-section__subtitle {
        padding: 0;
    }

    .seventh-section__indicator {
        width: 100%;
    }

    .column__marg {
        margin-right: 127px ;
    }
}

@media (max-width: 767px) {
    .seventh-section {
        padding: 115px 40px 120px 32px;
    }

    .seventh-section__tittle {
        color: #190701;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 125% */
    }

    .seventh-section__subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */;
    }

    .seventh-section__indicator {
        display: block;
    }

    .column__marg {
        margin: 0;
    }

    .indicator__title {
        line-height: 48px; /* 120% */
        font-size: 40px;
    }

    .indicator1 {
        margin-bottom: 49px;
    }

    .indicator__title__marg {
        margin-bottom: 6px;
    }

    .indicator__sub-title__marg {
        margin-bottom: 0;
    }

    .indicator2 {
        margin-bottom: 50px;
    }

    .indicator3 {
        display: none;
    }

    .indicator3__375 {
        display: block;
        margin-bottom: 48px;
    }
}

.banner {
    max-width: 1328px;
    margin: 0 auto;
    height: 472px;
    border-radius: 16px;
    background-color: #7C21FF;
    position: relative;
    object-fit: cover;
}

.blue-line {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.man {
    position: absolute;
    bottom: 0;
    right: 92px;
    z-index: 2;
}

.banner__wrp {
    padding: 80px 571px 80px 145px;
    position: absolute;
    z-index: 4;
}

.banner__title {
    color: #FFF;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px; /* 133.333% */
    margin-bottom: 24px;
}

.banner__title__375 {
    display: none;
}

.banner__sub-title {
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-bottom: 64px;
    padding-right: 54px;
}

.banner__button {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px; /* 150% */
    border-radius: 60px;
    background-color: #FF7F57;
    border: none;
    display: inline-flex;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner__button:hover,
.banner__button:focus {
    cursor: pointer;
    background-color: #FFF;
    color: #FF7F57;
    border: 2px solid  #FF7F57;
    outline: none;
}

@media (max-width: 1439px) {
    .banner {
        height: 536px;
        border-radius: 0;
    }

    .man {
        bottom: 0;
        right: 40px;
    }

    .banner__wrp {
        padding: 80px 288px 80px 40px;
    }

    .banner__title {
        font-size: 40px;
        line-height: 56px;
    }

    .banner__sub-title {
        padding-right: 105px;
    }
}

@media (max-width: 767px) {
    .banner {
        height: 552px;
        border-radius: 0;
    }

    .banner__wrp {
        padding: 80px 85px 80px 32px;
    }

    .man {
        bottom: 0;
        right: 0;
    }

    .blue-line {
        top: 0;
        right: 0;
        width: 100%;
        height: 552px;
    }

    .banner__title {
        font-size: 32px;
        line-height: 40px;
        display: none;
    }

    .banner__title__375 {
        display: block;
        margin-bottom: 24px;
        color: #FFF;
        font-family: Roboto;
        font-size: 32px;
        font-weight: 900;
        line-height: 40px; /* 125% */
    }

    .banner__sub-title {
        padding: 0;
    }
}

.eighth-section__title {
    padding: 120px 0 0 145px;
}

.eighth-section__pictures {
    display: flex;
    justify-content: space-between;
    padding: 0 0 120px 0;
    margin-top: 48px;
}

.eighth-section__pic2, .eighth-section__pic4 {
    padding-top: 40px;
}
.eighth-section__pic1, .eighth-section__pic3 {
    padding-bottom: 40px;
}

.eight-section-switch{
    display: flex;
    justify-content: center;
    display: none;
}

@media (max-width: 1439px) {
    .eighth-section__title {
        padding: 120px 0 0 40px;
    }

    .eighth-section__pic3, .eighth-section__pic4 {
        display: none;
    }

    .eighth-section__pic1 {
        width: 336px;
        height: 421px;
        padding-left: 40px;
    }

    .eighth-section__pic2 {
        width: 336px;
        height: 420px;
        padding-right: 40px;
    }

    .eight-section-switch {
        display: flex;
        padding-bottom: 120px;
    }

    .img-wight-dash {
        margin-right: 8px;
    }

    .eighth-section__pictures {
        padding: 0;
        margin: 0 0 40px 0;
    }
}

@media (max-width: 767px) {
    .eighth-section__title {
        padding: 120px 0 0 33px;
        color: #190701;
        font-family: Gilroy;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 125% */
        width: 211px;
    }

    .eighth-section__pic1, .eighth-section__pic2 ,.eighth-section__pic4 {
        display: none;
    }

    .eighth-section__pic3 {
        display: flex;
        padding-left: 32px;
        margin: 48px 0 79px;
    }
}

.footer {
    padding: 0 0 15px;
}

.footer-item {
    display: flex;
    justify-content: center;
}

.footer-item_line {
    width: 1038px;
    height: 1px;
    background: #DEDEDF;
    margin-bottom: 16px;
}

.footer-inner {
    padding: 0 145px;
    display: flex;
    justify-content: space-between;
}

.instagram__img {
    margin-right: 24px;
}

.footer-inner__link {
    text-decoration: none;
    color: #190701;
}

@media (max-width: 1439px) {
    .footer-item_line {
        width: 688px;
    }
    .footer-inner {
        padding: 0 40px;
    }
}

@media (max-width: 367px) {
    .footer-item_line {
        width: 311px;
    }
    .footer-inner {
        padding: 0 32px;
    }
}